@import '../../variables.scss';

.commentBoxContainer {
    padding:1rem .5rem;
    border-top: 1px solid $opacityBorder;
    margin-top: 2rem;
    .commentBoxFieldContainer {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 1rem;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 2rem;
        @media(max-width:$sm) {
            -ms-flex-direction: row;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-direction: column;
            -webkit-box-align: initial;
                -ms-flex-align: initial;
                    align-items: initial;
        }
        .commentBoxField {
            position: relative;
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            input,textarea {
                width: 100%;
                border-radius: 12px;
                padding: 0 1rem;
                padding-top: 1rem;
                font-size: 1.6rem;
                line-height: 100%;
                color: $light;
                background: $dark;
                @media(max-width:$sm) {
                    padding: 1rem;
                }
                &::-webkit-input-placeholder {
                    color: $gray;
                }
                &::-moz-placeholder {
                    color: $gray;
                }
                &:-ms-input-placeholder {
                    color: $gray;
                }
                &::-ms-input-placeholder {
                    color: $gray;
                }
                &::placeholder {
                    color: $gray;
                }
            }
        }
        .commentProfilePicture {
            display: inline-block;
            width: 4rem;
            height: 4rem;
            position: relative;
            @media(max-width:$sm) {
                -ms-flex-item-align: center;
                    -ms-grid-row-align: center;
                    align-self: center;
            }
            img {
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
                border-radius: 50%;
                &:hover {
                    -webkit-filter: opacity(.8);
                            filter: opacity(.8);
                }
            }
        }
    }
    .commentBoxActionContainer {
        padding-left: 1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        .commentBoxActions {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 2rem;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding-top: 1rem;

            .postFileInput {
                position: absolute;
                opacity: 0;
                width: 0;
                height: 0;
            }
    
            .postFileLabel {
                display: inline-block;
                position: relative;
                width: 2rem;
                height: 2rem;
                cursor:pointer;
                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    color: $primary;
                }
            }

            .commentEmojiContainer  {
                position: relative;
                width: 2rem;
                height: 2rem;
                .commentEmojiBox {
                    position: absolute;
                    z-index: 998;
                    top: 2rem;
                    left: 0;
                    width: 40rem;
                    max-height: 60rem;
                    overflow-y: auto;
                    background-color: $dark;
                    border: 1px solid $opacityBorder;
                    border-radius: 5px;
                    padding: 1rem;
                    @media screen and (max-width:$md) {
                        width: 18rem;
                    }
                    @media screen and (max-width:$sm) {
                        max-height: 35rem;
                        left: -2rem;
                        top: 3rem;
                    }
                    .commentEmojiBoxCloseContainer {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        .commentEmojiBoxClose {
                            display: inline-block;
                            font-size: 2.4rem;
                            font-weight: 700;
                            color: $primary;
                            margin-bottom: 1rem;
                            cursor: pointer;
                            transition: .2s;
                            &:hover {
                                transform: scale(1.03);
                            }
                        }
                    }
                    .commentEmojiList {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1rem;
                        align-items: center;
                        li {
                            font-size: 2rem;
                            cursor: pointer;
                            flex: 1;
                        }
                    }
                }
            }

            i {
                cursor: pointer;
                line-height: 100%;
                font-size: 2rem;
                color: $primary;
                @media(max-width:$md) {
                    font-size: 1.6rem;
                }
            }
        }
    }

    .commentFieldSection {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap:1.5rem;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        @media(max-width:$sm) {
            gap:1.2rem;
        }
        .counterFieldLength {
            color: $gray;
            font-size: 1.4rem;
            font-weight: 600;
            @media(max-width:$sm) {
                display:none;
            }
        }
    }
}