@import '../../variables.scss';

.modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0,0,0,.45);
    .modalContent {
        position: relative;
        min-width: 45rem;
        max-width: 70rem;
        max-height: 90vh;
        padding: 2rem;
        background:$dark;
        color: $light;
        border-radius: 8px;
        overflow-y: auto;
        margin: 4rem 0;
        @media screen and (max-width:420px) {
            min-width: 30rem;
            max-width: 50rem;
        }
        .modalPreviewImg {
            display: block;
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover;
        }
        .modalClose {
            position: absolute;
            top: .5rem;
            right: 1rem;
            display: inline-block;
            font-size: 2.4rem;
            font-weight: 600;
            color: $light;  
            cursor: pointer;
            -webkit-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;
            &:hover {
                -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                        transform: scale(1.1);
            }
        }

        .modalCloseImg {
            position: absolute;
            top: 0;
            right: 0;
            background: $primary;
            font-size: 2.4rem;
            font-weight: 600;
            color: $light;  
            cursor: pointer;
            padding: .5rem 1rem;
            -webkit-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;
            &:hover {
               background: $primary-hover;
            }
        }
    }
}