@import '../../variables.scss';

.mainHeader {
    padding: 1rem;
    background:$dark;
    background: #121212;
    box-shadow: 0px 1px 1px rgba(255,255, 255, 0.12);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    .headerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
}
