@import './variables.scss';

.primary {
    color: $primary!important;
}

.container {
    max-width: 130rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.dp-none {
    display: none;
}

.maxLengthBio {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
    margin: .5rem;
    color: $light;
}

.navItemActive {
    color: $primary;
    svg {
        fill: $primary!important;
    }
}

.flexColumn {
    display: flex;
    flex-direction: column!important;
}

.flexRow {
    display: flex;
    flex-direction: row!important;
}

.flexContainerRow {
    display:flex;
    gap:2rem;
    align-items: center;
}

.flex-start {
    -webkit-box-align: flex-start!important;
    -ms-flex-align: flex-start!important;
    align-items: flex-start!important;
}

.gap-1 {
    gap: 1rem!important;
}

.gap-2 {
    gap: 2rem!important;
}

.mt-1 {
    margin-top: 1rem;
}

.w-100 {
    width: 100%;
}

.tabItemActive {
    color: $primary!important;
    border-bottom: 2px solid $primary;
}

.bg-dark {
    background-color: $dark;
}

.scrollbarPrimary {
    &::-webkit-scrollbar {
        width: .65rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 1rem;
    }
}

.contentContainer {
    width: calc($container - ($mainSidebarWidth + 5px));
    padding: 0 1rem;
    padding-left: 6rem;
    @media(max-width:$md) {
        width:calc($container - ($mainSidebarWidthMd + 5px));
        padding-left: 4rem;
    }
    @media(max-width:$sm) {
        width:calc($container - ($mainSidebarWidthSm + 5px));
    }
}

.inputAuthActive {
    border-color: $primary!important;
    color: $primary!important;
}

.max-form {
    max-width: 70rem;
}

.border-gray {
    border: 1px solid $gray;
}

.error-message {
    font-size: 1.8rem;
    margin: 2rem 0;
    color: $primary;
    font-weight:600; 
}

.has-image {
    background: transparent!important;
    border: 2px solid $primary;
    img {
        opacity: .5;
    }
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.redirectTitle {
    font-size: 4rem;
    text-align: center;
    color: $light;
}

.controlDefault {
    background: transparent;
    padding: 1rem 2rem;
    border-radius: 8px;
    border: 1px solid $gray;
    font-size: 1.65rem;
    color: $light;
    &:focus {
        border-color: $primary;
    }
}

.noResults {
    font-size: 2.2rem;
    margin: 2.5rem 1rem;
    margin-left: 2rem;
    color: $light;
}

.commentsTitle {
    margin-top: 1rem;
    color: $light;
    font-size: 2.2rem;
}

.pickerContainer {
    position: relative;
    display: inline-block;
}

.emojiPostItem {
    cursor: pointer;
    line-height: 100%;
    font-size: 2rem;
    color: $primary;
    @media(max-width:$md) {
        font-size: 1.6rem;
    }
}

.emojiPostContainer {
    position: relative;
    width: 2rem;
    height: 2rem;
    @media(max-width:$sm) {
        display: none;
    }
    .emojiPostBox {
        position: absolute;
        z-index: 998;
        top: 2rem;
        left: 0;
        @media(max-width:$md) {
            position: fixed;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            left: 50%;
        }
    }
    svg {
        cursor: pointer;
        line-height: 100%;
        font-size: 2rem;
        color: $primary;
        @media(max-width:$md) {
            font-size: 1.6rem;
        }
    }
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

  
  
  
  
  
  



