/* Colors */
$primary:#FF3B5c;
$primary-hover:linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
$dark:#242526;
$dark-hover:#18191A;
// $light:#D0D2D6;
$light:#fff;
$light-hover:#ffffff0a;
$gray:#B8BBBF;
$success:#4BB543;
// $background:#18191A;
$background:#121212;
$opacityBorder:rgba(255, 255, 255, 0.12);
$container:130rem;
$mainSidebarWidth:32rem;
$mainSidebarWidthMd:22rem;
$mainSidebarWidthSm:10rem;
$marginTopContent:calc(4rem + 65px);
$lg:992px;
$md:767px;
$sm:480px;


